* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body, .synopsis::before {
    background-image: url('http://desk.fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/01/04/ChMkJ1g2YQeIbYQRABTlVmUrO4AAAYB0gGpqwMAFOVu246.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-box {
    width: 100%;
    height: 50px;
    background-color: #F2EAD3;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 99;
}
.nav-box .nav {
    width: 600px;
    height: inherit;
    margin: auto;
    text-align: center;
    line-height: 50px;
}

.nav-box .nav a {
    display: block;
    width: 150px;
    height: inherit;
    float: left;
    color: black;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-box .nav a:hover {
    font-weight: bold;
    font-size: 18px;
}

.short-film {
    width: 890px;
    margin: 80px auto 0 auto;
    overflow: hidden;
}

.player-box {
    position: relative;
    width: 890px;
    height: 500px;
}

.danmaku-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.danmaku-message {
    position: absolute;
}

#play-control {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #CCCCCC url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-play-outline-48.png') center no-repeat;
    opacity: 0.8;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#progress-box {
    width: 100%;
    height: 5px;
    background-color: red;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    position: absolute;
    bottom: 0;
}
#progress-box.active {
    height: 15px;
}
.progress {
    background-color: orange;
}
.control {
    width: 100%;
    background: #D0D0D0;
    overflow: hidden;
    position: relative;
}

.control div {
    width: 50px;
    height: 40px;
    margin: 0 17.5px;
    text-align: center;
    float: left;
}

.control div:hover {
    background-color: #A0A0A0;
}

.control .danmaku-send {
    width: 80px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    background: #2D6CDF;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 700px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.control .danmaku-send:hover {
    background: #55B3F3;
}

.control div img {
    vertical-align: middle;
    position: relative;
    top: 8px;
}

.input-text {
    border: none;
    width: 590px;
    height: 36px;
    font-size: 18px;
    float: left;
    padding: 2px 110px 2px 20px;
    background: #EEEEEE;
}
.synopsis {
    margin-top: 20px;
    background: hsla(0, 0%, 100%);
    overflow: hidden;
    font-family: monospace;
    color: #094C9E;
    color: white;
    font-weight: bold;
    padding: 50px 0;
    position: relative;
}
.synopsis::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px);
    margin: -30px;
    z-index: -1;
}
.synopsis h3 {
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
}
.synopsis p {
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    letter-spacing: 2px;
}
.role-box {
    background: white;
    color: #094C9E;
}
.role-box, .staff {
    font-family: monospace;
    font-size: 14px;
}
.role-box h3, .staff h3 {
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;

    padding: 50px 0 20px 0;
}
.protagonist {
    width: 1200px;
    margin: auto;
}
.protagonist div {
    height: 536px;
    width: 600px;
    float: left;
}
.long {
    background: url('../images/chara_taki_vsl.png') right no-repeat;
}
.sanye {
    background: url('../images/chara_mitsuha_vsl.png') left no-repeat;
}
.protagonist div h4 {
    width: 340px;
    height: 100px;
    font-size: 50px;
}
.protagonist div p {
    width: 300px;
    height: 316px;
    letter-spacing: 4px;
    line-height: 30px;
    text-indent: 2em;
}
.long h4, .long p {
    position: relative;
    right: -140px;
}
.sanye h4, .sanye p {
    position: relative;
    left: 200px;
}
.protagonist .cast {
    height: 100px;
    padding-bottom: 20px;
}
.protagonist .cast img {
    vertical-align: middle;
    border-radius: 50%;
}
.costar {
    width: 840px;
    margin: auto;
    padding: 100px 0 0 0;
}
.costar>div {
    float: left;
    padding: 10px;
    width: 400px;
    height: 250px;
}
.costar div h4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    text-align: center;
    letter-spacing: 1px;
}
.costar div:nth-child(2n+1) h4, .costar div:nth-child(2n+1) div {
    float: right;
}
.costar div:nth-child(2n) h4, .costar div:nth-child(2n) div {
    float: left;
}
.costar div h4 span {
    position: relative;
    bottom: -170px;
}
.costar div h4 p {
    position: relative;
    bottom: -180px;
}
.costar div:nth-child(1) h4 {
    background: url('../images/chara_miki_face01.png') center no-repeat;
}
.costar div:nth-child(2) h4 {
    background: url('../images/chara_hitoha_face01.png') center no-repeat;
}
.costar div:nth-child(3) h4 {
    background: url('../images/chara_yotsuha_ph.png') center no-repeat;
}
.costar div:nth-child(4) h4 {
    background: url('../images/chara_fujii_ph.png') center no-repeat;
}
.costar div:nth-child(5) h4 {
    background: url('../images/chara_natori_ph.png') center no-repeat;
}
.costar div:nth-child(6) h4 {
    background: url('../images/chara_teshigawara_ph.png') center no-repeat;
}
.costar div:nth-child(7) h4 {
    background: url('../images/chara_takagi_ph.png') center no-repeat;
}
.costar div div {
    width: 230px;
    padding: 0 10px;
    height: 250px;
    position: relative;
}
.costar div div p {
    line-height: 40px;
    letter-spacing: 1px;
    text-indent: 2em;
}
.costar div div p:nth-child(2) {
    position: relative;
    bottom: -78px;
}
.staff {
    color: white;
    background: url('http://desk.fd.zol-img.com.cn/t_s1920x1200c5/g5/M00/01/04/ChMkJlg2YRGIXrtCABy9qCTYS60AAYB1AAAAAAAHL3A605.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.staff div {
    margin: auto;
    padding: 30px 0;
    width: 600px;
}
.staff div h4, .staff div div {
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}
.staff div h4 span {
    font-size: 30px;
}
.staff div p {
    font-size: 16px;
    line-height: 30px;
    text-indent: 2em;
}
.staff button {
    border: 1px solid white;
    width: 200px;
    height: 50px;
    font-family: monospace;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.staff button:hover {
    background: #3366CC;
}
.production-list {
    width: 100%;
    height: 450px;
    background: url('http://desk.fd.zol-img.com.cn/t_s1920x1200c5/g5/M00/01/04/ChMkJlg2YRGIXrtCABy9qCTYS60AAYB1AAAAAAAHL3A605.png');
    position: fixed;
    z-index: 99;
    text-align: center;
    display: none;
}
.production-list>button {
    display: block;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    line-height: 30px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    position: relative;
    left: 90%;
}
.production-list>div {
    width: 200px;
    height: 320px;
    background: #3A3D7C;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.production-list div div {
    display: inline-block;
    width: 200px;
    height: 280px;
}
.production-list div button {
    border: 1px solid white;
    background: transparent;
    color: white;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}
.footer {
    height: 80px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    background: white;
}
.footer p {
    padding: 10px 0;
}
